{% extends 'base.html.twig' %}
{% block title %} {{ 'index.title' | trans }}{% endblock %}
{% block body %}
<main>

    <!-- Slider Area Start-->
        {% include 'web/index/_start-slider.html.twig' %}
    <!-- Slider Area End -->
    <!-- Best Features Start -->
        {% include 'web/index/_best-features-slider.html.twig' with {'padding':'0'}%}
    <!-- Best Features End -->
    <!-- Services Area Start -->
        {% include 'web/index/_service-area.html.twig' %}
    <!-- Services Area End -->
    <!-- Applic App Start -->
        {% include 'web/index/_applics-apps.html.twig' %}
    <!-- Applic App End -->
    <!-- Best Pricing Start -->

        {% include 'web/index/_best-pricing.html.twig' with {'padding':'0'} %}


    <!-- Pricing Card End -->

    <!-- Available App  Start-->
        {% include 'web/index/_avialable_apps.html.twig' %}
    <!-- Available App End-->


</main>
{% endblock %}