
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.htaccess
/Readme.txt
/changelog.txt
/.idea/.gitignore
.idea/vcs.xml
.idea/symfony2.xml
.idea/php.xml
.idea/modules.xml
.idea/misc.xml
.idea/callHelp-website.iml

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###
symfony.lock
symfony.lock
symfony.lock
composer.lock
