{% extends 'base.html.twig' %}
{% block body %}
<main>

    <!-- Slider Area Start-->
        {% include 'index/_start-slider.html.twig' %}
    <!-- Slider Area End -->
    <!-- Best Features Start -->
        {% include 'index/_best-features-slider.html.twig' %}
    <!-- Best Features End -->
    <!-- Services Area Start -->
        {% include 'index/_service-area.html.twig' %}
    <!-- Services Area End -->
    <!-- Applic App Start -->
        {% include 'index/_applics-apps.html.twig' %}
    <!-- Applic App End -->
    <!-- Best Pricing Start -->
        {% include 'index/_best-pricing.html.twig' %}
    <!-- Pricing Card End -->

    <!-- Available App  Start-->
        {% include 'index/_avialable_apps.html.twig' %}
    <!-- Available App End-->


</main>
{% endblock %}