{% extends 'base.html.twig' %}
{% block body %}
    <main>

        <!-- Best Features Start -->
        {% include 'web/index'  with {'padding':'1'} %}
        <!-- Best Features End -->
        <!-- Our Customer Start -->

        <!-- Our Customer End -->

        <!-- Available App  Start-->
        {% include 'web/index' %}
        <!-- Available App End-->

        <!-- Say Something Start -->

        <!-- Say Something End -->
     
    </main>
   {% endblock %}