{% extends 'base.html.twig' %}
{% block body %}
    <main>

        <!-- Best Pricing Start -->
        {% include 'index/_best-pricing.html.twig' with {'padding':'1'}%}
        <!-- Pricing Card End -->
        <!-- Available App  Start-->
        {% include 'index/_avialable_apps.html.twig' %}
        <!-- Available App End-->

        <!-- Say Something Start -->

        <!-- Say Something End -->

    </main>
{% endblock %}