{% extends 'base.html.twig' %}
{% block title %} HelpingCall- Impressum {% endblock %}
{% block body %}
    <!-- Slider Area Start-->
    <div class="services-area">
        <div class="container">
            <!-- Section-tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="section-tittle text-center mb-80">
                        <h2>Impressum</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Area End-->

    <!-- ================ contact section start ================= -->
    <section class="contact-section">
        <div class="container">
            <div class="d-none d-sm-block mb-5 pb-4">
                <div class="col-md-6 offset-sm-5">
                    <span class="ti-pin"></span>
                    <span class="text">
                        HelpingCall

                        <br>Campusallee 12<br>32657 Lemgo<br>
                        Tel: +49 5261 702 0 <br>

                    </span>
                    <br>
                    <span><a href="javascript:window.location.href = 'mailto:' + ['info','helpingcall.de'].join('@')"><span class="text">Kontakt via E-Mail</span></a></span>
                </div>
            </div>

        </div>
    </section>
{% endblock %}