{% extends 'emails/mail_base.html.twig' %}
{% block body %}
    {% embed 'emails/blocks/1-col.twig' %}
        {% block title %}{{ 'mail.acount-confirm.speech'|trans }} {{ name }}{% endblock %}
        {% block body %}
            <p>{{ 'mail.acount-help.help.text'|trans }}</p>

            <p>
            </p>
            <p>
            </p>

        {% endblock %}
    {% endembed %}
{% endblock %}